<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Sentences CRUD</title>
</head>

<body>

    <div class="d-flex flex-column h-100 flex-grow-1">
        <% if(!sentences || sentences && sentences.length==0) { %>
            <h1 class="mt-5 title align-self-center">No sentences found</h1>
            <a class="mt-5 align-self-center" href="/public/sentence">
                <button type="button" class="btn btn-primary">
                    <h3>New Sentence</h3>
                </button>
            </a>
            <% } %>
                <% if (sentences && sentences.length> 0) { %>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                        <div class="btn-group mx-2" role="group" aria-label="First group">
                            <a href="/public/sentences">
                                <button type="button" class="btn btn-secondary">reset
                                </button>
                            </a>
                        </div>

                        <div class="btn-group" role="group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  Sort categories
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="/public/sentences?orderBy=category&order=asc">ASC</a></li>
                                  <li><a class="dropdown-item" href="/public/sentences?orderBy=category&order=desc">DESC</a></li>
                                </ul>
                            </div>
                        </div>

                        <a href=<%= `/public/sentences?lastId=${sentences[sentences.length - 1].id}` + (orderBy ? `&orderBy=${orderBy}&order=${order || 'asc'}` : '')%>> 
                            <button type="button" class="btn btn-secondary mx-2">Next</button>
                        </a>

                        <a href="/public/sentence"> 
                            <button type="button" class="btn btn-secondary mx-2">New sentence</button>
                        </a>
                    </div>

                    <table id="datatable" class="table table-striped mt-5" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Text</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(const sentence of sentences) { %>
                                <tr>
                                    <td>
                                      <a href=<%= '/public/sentence/' + sentence.id %>><%= sentence.id %></a>  
                                    </td>
                                    <td>
                                        <%= sentence.text %>
                                    </td>
                                    <td>
                                        <%= sentence.category %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <% } %>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>